<ion-view class="login" name="loginView" view-title="Login">
    <ion-content class="padding container">
        <ion-list>
            <ion-item>
                <input type="text" ng-model="loginVm.email" placeholder="Email">
            </ion-item>
            <ion-item>
                <input type="password" ng-model="loginVm.password" placeholder="Password">
            </ion-item>
        </ion-list>

        <button class="button button-block button-calm" ng-click="loginVm.login()">Login</button>

        <a ui-sref="causeConnect.signup">First time user? Sign up!</a>
    </ion-content>
</ion-view>
