<ion-view class="seek" view-title="Seek">
    <ion-content class="padding container">
        <div class="row">
            <div class="col-sm-12 data">
                <!--<button class="button button-block" name="ionic-push" ng-click="loginVm.registerForPush()">GET NOTIFICATION </button>-->
                <h2>Welcome to Seek Page</h2>
                <p>
                    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check
                    out
                    the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
                </p>
                <p>
                    To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>.
                    This template is <code>www/templates/tab-dash.html</code>
                </p>
            </div>
        </div>

        <ion-list>

            <ion-list>

                <ion-item>
                    <ion-input type="text" placeholder="Username"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="password" placeholder="Password"></ion-input>
                </ion-item>

            </ion-list>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.name" placeholder="Name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.date" placeholder="Date"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.organizer" placeholder="Organizer"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.descsription" placeholder="Description"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.heroUrl" placeholder="ImageUrl"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.address" placeholder="Address"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.website" placeholder="Website"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.category" placeholder="Category"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" ng-model="SeekVm.event.eventGoal" placeholder="Event Goal"></ion-input>
            </ion-item>

        </ion-list>

        <div class="row">
            <button name="add-event" type="button" class="btn btn-primary" ng-click="SeekVm.addEvent(SeekVm.event)">Add Event</button>
        </div>

        <ion-list>

            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>

        </ion-list>

        <div padding>
            <button ion-button color="primary" block>Sign In</button>
        </div>
    </ion-content>
</ion-view>
