<ion-view class="seek" view-title="Seek">
    <ion-content class="padding container">
        <div class="row">
            <div class="col-sm-12 data">
                <!--<button class="button button-block" name="ionic-push" ng-click="loginVm.registerForPush()">GET NOTIFICATION </button>-->
                <h2>Welcome to Seek Page</h2>
                <h3>Add Your Event Here </h3>
            </div>
        </div>

        <ion-list>

            <ion-item>
                <input type="text" ng-model="seekVm.event.name" placeholder="Name">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.date" placeholder="Date">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.organizer" placeholder="Organizer">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.description" placeholder="Description">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.heroUrl" placeholder="ImageUrl">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.address" placeholder="Address">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.website" placeholder="Website">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.category" placeholder="Category">
            </ion-item>

            <ion-item>
                <input type="text" ng-model="seekVm.event.eventGoal" placeholder="Event Goal">
            </ion-item>

        </ion-list>

        <div class="row">
            <button name="add-event" type="button" class="btn btn-primary" ng-click="seekVm.addEvent(seekVm.event)">Add Event</button>
        </div>
    </ion-content>
</ion-view>
