<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Contribute Tab -->
    <ion-tab title="Contribute" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ng-click="tabsVm.navigate(0)">
        <ion-nav-view></ion-nav-view>
    </ion-tab>

    <!-- Seek Tab -->
    <ion-tab title="Seek Help" icon-off="ion-ios-glasses-outline" icon-on="ion-ios-glasses" ng-click="tabsVm.navigate(1)">
        <ion-nav-view></ion-nav-view>
    </ion-tab>
</ion-tabs>

<!--<ion-view class="tabs" cache-view="false">
    <ion-content class="app" scroll="true">
        App Loaded
        <button class="button button-block" name="ionic-push" ng-click="loginVm.registerForPush()">Get Notifications</button>
    </ion-content>
</ion-view>-->
