<ion-view class="contribute" view-title="Contribute">
    <ion-content class="padding card-background-page">
        <!--<ion-content class="card-background-page">-->

        <!--<ion-list>
            <ion-item ng-repeat="data in ctbVm.categorizedEvents track by $index">
                <ion-thumbnail item-left>
                    <img src="http://www.planwallpaper.com/static/images/Fall-wallpaper-1366x768-HD-wallpaper.jpg"/>
                </ion-thumbnail>
                <h2>{{data.category}}</h2>
                <ion-badge item-right>{{data.eventCount}}</ion-badge>
                <button ion-button clear item-right>View</button>
            </ion-item>
        </ion-list>
        <div class="categories">
            <ion-card ng-repeat="data in ctbVm.categorizedEvents track by $index">
                <img src="http://www.planwallpaper.com/static/images/Fall-wallpaper-1366x768-HD-wallpaper.jpg"/>
                <div class="card-title">{{data.category}}</div>
                <div class="card-subtitle">{{data.eventCount}}</div>
            </ion-card>
        </div>-->
        <!--</ion-content>-->

        <ion-card>
            <ion-card-header>
                <h1>Welcome to Cause Connect!</h1>
            </ion-card-header>
            <ion-card-content>
                <p class="welcome-info">
                    Cause Connect's mission is to empower the underprivileged all over the globe.
                    We fund individual fellowships and organizations working on projects on multiple fronts at the
                    grassroots level.
                    Learn more about the events here and navigate to seek tab to create your own event.
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card class="event-list" ng-repeat="event in ctbVm.events track by $index">
            <ion-item class="info">
                <h1 ng-click="detailsPage()">{{event.name}}</h1>
                <p>Organized By: {{event.organizer}}</p>
                <p>On: {{event.date}} @ {{event.address}}</p>
            </ion-item>
            <a href="#/causeConnect/contribute/{{event.id}}/event-detail"><img src="{{event.heroUrl}}" class="img-responsive" alt="{{event.name}}">
            <ion-card-content>
                <div class="metadata">
                    <p>
                        Visit Us: <a href="{{event.website}}" target="_blank">{{event.website}}</a>
                    </p>
                </div>
            </ion-card-content>
        </ion-card>
        <button ng-click="ctbVm.logout()">Logout!</button>
    </ion-content>
</ion-view>
